language: android

jdk:
 - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.3
    - build-tools-28.0.3
    - build-tools-29.0.2
    - android-26
    - extra-android-support
    - extra-android-m2repository
  licenses:
    - '.+'

env:
  global:
    - GRADLE_OPTS="-Xms128m"

script:
  - ./gradlew clean assemble test --tests com.google.protobuf.gradle.ProtobufJavaPluginTest --stacktrace
  - ./gradlew test --tests com.google.protobuf.gradle.ProtobufKotlinDslPluginTest --stacktrace
  - ./gradlew test --tests com.google.protobuf.gradle.ProtobufAndroidPluginTest --stacktrace
  - ./gradlew -stop
  - ./gradlew test --tests com.google.protobuf.gradle.ProtobufAndroidPluginKotlinTest --stacktrace
  - ./gradlew test --tests com.google.protobuf.gradle.AndroidProjectDetectionTest --stacktrace
  - ./gradlew codenarcMain || (cat ./build/reports/codenarc/main.txt && false)
  - ./gradlew codenarcTest || (cat ./build/reports/codenarc/test.txt && false)

notifications:
  email: false

sudo: required

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
